<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-green-300 items-center h-screen">
    <br><br>
    <div class="max-w-lg mx-auto p-8 bg-white rounded shadow">
        <h2 class="text-2xl font-bold mb-4">Updating Password</h2>
        <form id="forgot-form" class="mb-4" onsubmit="handleSubmit(event)">
            <label class="block mb-2" for="pass">Enter New Password :</label>
            <input type="pass" id="pass" name="pass" class="w-full px-3 py-2 border rounded-md" required>
            <br>
            <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Save
                Password</button>
        </form>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>

<script>
    function handleSubmit(event) {
        event.preventDefault();
        let pass = event.target.pass.value;
        console.log(pass,`<%= id %>`);
        axios.post(`http://localhost:3000/forgotPassword`,{id:`<%= id %>`,password:pass}).then(res => {
            displayMessage(`Password successfully Updated!`);
        }).catch(err => {
            displayMessage("Cant sent mail To reset password!");
        })
    }

    function displayMessage(message) {
        const p = document.createElement('h1');
        p.textContent = message;
        p.style.color = 'red';
        document.getElementsByTagName("body")[0].appendChild(p);
        setTimeout(() => {
            p.remove();
        }, 5000);
    }
</script>

</html>